@import "variable/*"
@import "icon/*"
@import 'axis'
@import 'jeet'
@import 'rupture'

border-box-html()
fluid-media() //care flex box image
rupture.scale = 0 320px 640px 768px 1024px 1280px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 
jeet.gutter = 1

.allpage
	background #eee
	wraper
		background white
		height 100vh
		a
			padding 20px
			display block
			box-shadow 1px 1px 20px #eee
			margin-bottom 10px
			border-radius 5px
			tr(all)
			&:hover
				background #6D2D74
				color white
@font-face {
	font-family: 'israil';
	src:  url("../fonts/israil.woff") format('woff')
	font-weight: normal;
	font-style: normal;
}
body
	font-family 'Ubuntu'
	background: linear-gradient(to right, #036a77 0%, #fff 50%, #ffc39d 100%);
	color #404040
svg:not(:root)
	overflow  hidden
.clip
	position absolute
.head-section
	+below(1024px)
		-webkit-clip-path: none;
		clip-path:none;
	+below(768px)
		height 100vh
		flex(mid)
		fl()
	bgi('first-page-bg.jpg')
	background-size cover
	-webkit-clip-path: url(#head_path);
	clip-path: url(#head_path);
	transform: translateZ(0);
	z-index 2
.head-section
	position relative
.header
	+below(768px)
		position absolute
		top 0px
		left 0px
		width 100%
		flex(between)
	flex(between)
	position relative
	&:before
		content ''
		+below(768px)
			height 40px
		position absolute
		width 100%
		height 65px
		left 0px
		top 0px 
		//bgi('first-page-bg-top.jpg')
		background-size cover
		background black
		-webkit-filter: brightness(50%);
		filter: brightness(50%);
		z-index 1
		opacity .4
.header-soc
	z-index 2
	flex(mid)
	width 50%
	justify-content flex-start
	+below(768px)
		width 50%
		justify-content flex-start
	span
		+below(768px)
			display none
		color white
		
	a
		+below(768px)
			width 20px
			height 20px
			font-size 12px
		color white
		font-size 22px
		margin 10px
		//padding 10px
		border 1px solid white
		border-radius 50%
		width 40px
		height 40px
		display block
		flex(mid)
.header-logo
	flex(mid)
	width 50%
	justify-content flex-end
	+below(768px)
		width 30%
		justify-content flex-end
	z-index 2
.header-logo-el
	margin 5px
	min-width 35px
.header-content
	flex(mid)
	fl()
.header-title
	+below(768px)
		font-size 40px
	color white
	font-size 10vw
	font-weight 700
	margin-top 3%
.header-info
	+below(768px)
		font-size 18px
	color white
	font-size 24px
	font-weight 400
	margin-bottom 2%
.header-icon-row
	+below(1024px)
		width 100%
	+below(768px)
		flex(between)
	flex(mid)
	margin-top 20px
	width 70%
.header-icon-el
	+below(1024px)
		margin 0px
		flex(between)
	flex(mid)
	fl()
	margin 0px 8%
	width 33.3333%
.header-icon-img
	img
		+below(768px)
			width 40%
			margin 0 auto
		width 100%
.header-icon-text
	+below(768px)
		font-size 12px
	color white
	font-size 24px
	font-weight 700
	margin-top 20px
.header-but
	+below(768px)
		margin-top 40px
	color white
	font-size 24px
	font-weight 700
	padding 5px 30px
	margin-top 2%
	margin-top 2vw
	margin-bottom 5%
	margin-bottom 5vw
	border-radius 20px	
	border 1px solid white
.slider-cont 
	flex(mid)
	fl()
.slider
	+below(1024px)
		top 0px 
	+below(768px)
		height 100vh
	position relative
	clip-path: url(#places_path);
	top -8vw
	width 100%
	.owl-dot
		width 20px
		height 20px
		border 2px solid white
		border-radius 50%
		margin 0 5px
	.owl-dots
		position absolute
		top 75%	
		left 50%
		margin-left -40px
		flex(mid)
		.active
			background white
.slider-el
	+below(1024px)
		-webkit-clip-path: none;
		clip-path:none;
	-webkit-clip-path: url(#places_path);
	+below(768px)
		min-height 100vh
	min-height 50vw
	color #FFF
	background-size cover!important
	flex(mid)
.slider-one
	bgi('slider-item-1.jpg');
.slider-two
	bgi('slider-item-2.jpg');
.slider-three
	bgi('slider-item-3.jpg');
.owl-next,
.owl-prev
	position absolute
	top 50%
	margin-top -70px
	.fa
		font-size 140px
		opacity .6
		color white
	
.owl-carousel
	position relative
.owl-prev
	left 5%
.owl-next
	right 5%
	
.slider-title
	+below(768px)
		font-size 32px
		text-transform uppercase
		text-align center
	font-size 4vw
	text-transform uppercase
	font-weight 600
	font-family 'israil'
.slider-text
	+below(768px)
		font-size 12px
		line-height 14px
	width 60%
	text-align center
	margin-top 20px
	font-size: 1.1vw;
	line-height: 1.6vw;
	font-weight: lighter;
.compare-block
	+below(768px)
		margin-top 20px
.compare-block-head
	+below(1024px)
		-webkit-clip-path: none;
		clip-path:none
		margin-top 0
	+below(768px)
		width 95% 
	bgi('treagle-bg-2.jpg')
	-webkit-clip-path url(#fly_path)
	clip-path url(#fly_path)
	width 83vw
	margin 0 auto
	padding 7.6vw 0 1.6vw 0
	background-size cover
	background-position center
	position relative
	margin-top -18vw
	text-align center
	z-index 2
	-webkit-transform translateZ(0)
	transform translateZ(0)
.compare-block-title
	+below(768px)
		font-size 20px
		margin-bottom 10px
	font-size: 3.75vw;
	line-height: 4vw;
	text-align center
	color white
	text-transform uppercase
	font-weight 600
	font-family 'israil'
.compare-block-text
	+below(768px)
		font-size 12px
	margin-top: 0.5vw;
	font-size: 1.45vw;
	text-align center
	color white
	margin-bottom 15vw
.compare-block-content
	+below(768px)
		padding 30px 0px
		width 95%	
	width 83vw
	margin 0 auto
	padding 3.6vw 0 3.6vw 0
	background white
.compare-block-content-title
	+below(768px)
		font-size 20px
		line-height 20px
	font-size: 3.75vw;
	line-height: 4vw;
	text-transform uppercase
	text-align center
	font-weight 600
	font-family 'israil'
.compare-block-content-text
	+below(768px)
		font-size 12px
		width 80%
		margin 0 auto
		margin-top 10px
	margin-top: 0.5vw;
	font-size: 1.45vw;
	text-align center
.compare-block-content-wraper
	+below(768px)
		fw()
		width 90%
	margin 0 auto
	margin-top: 2.5vw;
	width 80%
	flex(between)
	align-items flex-start
.compare-block-content-el
	margin 5px
	+below(768px)
		width 100%
		margin-bottom 20px
		flex(mid)
		fl()
.compare-block-content-el-img
	margin-bottom 20px
	img
		width 100%
		margin 0 auto
.compare-block-content-el-title
	+below(768px)
		font-size 18px
		margin-bottom 10px
	font-size: 2.4vw;
	line-height: 2.4vw;
	text-transform uppercase
	text-align center
.compare-block-content-el-text
	+below(768px)
		font-size 12px
	font-size: 1.15vw;
	text-align center
.compare-block-content-el-but
	+below(768px)
		font-size 14px
		padding 5px 10px
		//height 25px
	margin 0 auto
	margin-top: 2vw;
	padding: 2px 1.65vw;
	box-sizing: border-box;
	line-height: 2.6vw;
	border-radius: 2vw;
	border-bottom-width: 0.3vw;
	background-color: #525252;
	font-size: 1.9vw;
	color white
	box-shadow 0px 4px 0px #323232
	display block
	
.compare-block-content-el-active
	.compare-block-content-el-but
		background-color: #25d29f;
		box-shadow 0px 4px 0px #07a979
	.compare-block-content-el-wraper
			+below(768px)
				height 180px
.compare-block-content-el-wraper
	+below(768px)
		flex(mid)
		fl()
		margin-top 0
		
	width 100%
	height 140%
	width 100%
	background: rgba(7, 169, 121, 0.14);
	padding 40px 0
	margin-top -40px
		
.compare-block-content-el-addtext
	+below(768px)
		font-size 12px
	font-size: 1vw;
	color #34b970
	text-align center
	margin-top 1vw
.compare-block-content-el-green
	+below(768px)
		font-size 12px
	font-size: 1vw;
	text-align center

.treangle-head
	+below(1024px)
		-webkit-clip-path: none;
		clip-path:none;
		padding-top 5vw
	+below(768px)
		margin-top: 20px;
	margin-top: 50px;
	padding-top: 10vw;
	-webkit-clip-path: url(#attractions_path);
	clip-path: url(#attractions_path);
	background white
.treangle-head-title
	+below(768px)
		font-size 18px
	font-weight: bold;
	font-size: 3.8vw;
	text-align center
	text-transform uppercase
	font-weight 600
	font-family 'israil'
.treangle-head-text
	+below(768px)
		font-size 12px
	font-size: 1.5vw;
	padding-bottom: 5vw;
	text-align center
	
.travel
	width 100%
	fl()
	flex(mid)
.travel-wraper
	flex(mid)
	//margin-bottom: 16vw;
	padding-top: 3vw;
	bgi('travel-bg-1.png')
	width 100%
	background-color: #ffffff;
	background-size: cover;
	padding-bottom 6vw
.travel-main-cont
	+below(1024px)
		width 90%
	width: 68vw;
.travel-head
	+below(768px)
		fw()
	f()
	align-items flex-start
	width 100%
.travel-head-img
	+below(768px)
		width 100%
		margin-bottom 20px
	width 50%
	img
		width 100%
.travel-head-info
	+below(768px)
		width 100%
		flex(mid)
		fl()
	width 45%
	margin-left 2%
.travel-head-wraper-cont
	padding-bottom 2vw
	margin-bottom 2vw
	border-bottom 2px solid white
	width 100%
.travel-head-title
	+below(768px)
		font-size 18px
		text-align center
	font-size 2vw
	color white
	margin-bottom 2vw
	font-weight 600
	font-family 'israil'
.travel-head-wraper
	flex(mid)
	fl()
.travel-head-el
	flex(mid)
	justify-content flex-start
	margin-bottom 20px
.travel-head-el-icon
	width 10%
	margin-right 20px
	img
		width 100%	
.travel-head-el-text
	+below(1024px)
		font-size 12px
	+below(768px)
		font-size 14px
	color white
	width 90%
	font-size 1vw
.travel-head-button
	+below(768px)
		font-size 14px
		display block
		text-align center
	padding 10px 20px
	color white
	font-size 1vw
	border 2px solid white
	border-radius 20px
.travel-cont
	margin-top 5vw
.travel-cont-wraper
	+below(768px)
		fw()
	flex(between)
	align-items flex-end
.travel-cont-el
	+below(768px)
		width 45%
		margin-bottom 20px
		margin-top 20px
	margin-top -4vw
	width 24%
.travel-cont-el-title
	position absolute
	top 10px
	width 100%
	flex(mid)
	span 
		font-size 14px
		+below(1024px)
			font-size 12px
		display block
		width 80%
		text-align center
		color white
		font-size 1vw
		b
			display block
			margin-bottom 10px
.travel-cont-el-img
	position relative
	img
		width 100%
.travel-cont-el-but
	+below(1024px)
		font-size 12px
		height 35px
	+below(768px)
		margin-top 10px
	height 50px
	border-radius: 2vw;
	font-size: 1vw;
	color white
	//display block
	text-align center
	background-color: #25d29f;
	box-shadow: 0px 4px 0px #07a979;
	width 90%
	margin 0 auto
	//margin-top -20px
	z-index 200
	margin-top 10px
	//position relative
	flex(mid)
.travel-cont-el-but-active
	background #00B0DC
	box-shadow: 0px 4px 0px #2591AC;
	flex(mid)
	fl()
.travel-main-el-wraper
	background white
	width 100%
	padding-bottom 3vw
.travel-main-el-footer
	+below(1024px)
		width 90%
	width: 68vw;
	margin 0 auto

.travel-cont-el-about
	+below(1280px)
		font-size 12px
	+below(768px)
		color black
	color white
	margin-bottom 20px
	text-align center

.footer
	width 100%
	background white
	padding-bottom 20px
.footer-title
	+below(768px)
		font-size 20px
	text-align center
	color #00b0dc
	font-family Ubuntu
	font-size 32px
	font-weight 700
	line-height 43px
	margin-bottom 20px
.footer-soc
	flex(mid)
	a
		color #00b0dc
		margin 0 10px
		width 40px
		height 40px
		border 1px solid #00b0dc
		border-radius 50%
		text-align center
		font-size 28px
		line-height 38px

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.slider-el
		height 50vw
		

.modal-wraper
	+below(768px)
		width 90%
	position relative
	display none
	width 60%
	background white
	.fa
		position absolute
		top 10px
		right 10px
.modal-main-cont
	f()
	fw()
.modal-text
	+below(1024px)
		width 100%
	width 40%
	padding 20px
	color white
	background #478BE8
	flex(mid)
	fl()
.modal-title
	text-align center
	text-transform uppercase
	margin-bottom 10px
	font-weight 600
.modal-content
	text-align center
	
.modal-form
	+below(1024px)
		width 100%
		display none
	padding 20px
	width 60%
	label
		display block
		font-size 12px
		margin-bottom 5px
	textarea
		width 100%
	input
		margin-bottom 5px
		width 100%
	input,textarea
		padding 5px
		border 0px
		border 1px solid #e1e1e1
	button
		border 0px
		background white
		text-transform uppercase
		margin 20px auto
		display block
		border 1px solid #e1e1e1
		border-radius 10px
		padding 5px 10px
	ul
		padding 0
		margin 0
		li
			list-style none
.modal-form-title
	text-align center
	text-transform uppercase
	margin-bottom 10px
	font-weight 600
.modal-form-text
	
	font-size 12px
	text-align center
	width 60%
	margin 0 auto
	margin-bottom 10px
.form-left
	+below(1024px)
		width 100%
	width 48%
.form-right
	+below(1024px)
		width 100%
	width 48%
.textarea-label
	margin-top 20px
.form-wrap
	flex(between)
	align-items flex-start
	fw()
.bootstrap-datetimepicker-widget
	background white
	width 100%
	font-size 12px
	
.get-eks-info
	+below(1024px)
		display block
	border 0px
	text-transform uppercase
	margin 20px auto
	border 1px solid #e1e1e1
	border-radius 10px
	padding 5px 10px
	display none
	&:hover
		cursor pointer
		