@import "variable/*"
@import "icon/*"
@import 'axis'
@import 'jeet'
@import 'rupture'

border-box-html()
fluid-media() //care flex box image
rupture.scale = 0 320px 640px 768px 1024px 1280px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 
jeet.gutter = 1

.allpage
	background #eee
	wraper
		background white
		height 100vh
		a
			padding 20px
			display block
			box-shadow 1px 1px 20px #eee
			margin-bottom 10px
			border-radius 5px
			tr(all)
			&:hover
				background #6D2D74
				color white

body
	font-family 'Ubuntu'
	background: linear-gradient(to right, #036a77 0%, #fff 50%, #ffc39d 100%);
	color #404040
svg:not(:root)
	overflow  hidden
.clip
	position absolute
.head-section
	bgi('first-page-bg.jpg')
	background-size cover
	-webkit-clip-path: url(#head_path);
	clip-path: url(#head_path);
	transform: translateZ(0);
	z-index 2
.head-section
	position relative
.header
	flex(around)
	position relative
	&:before
		content ''
		position absolute
		width 100%
		height 6vw
		left 0px
		top 0px
		bgi('first-page-bg.jpg')
		background-size cover
		-webkit-filter: blur(20px);
		filter: blur(20px);
		z-index 1
.header-soc
	z-index 2
	flex(mid)
	a
		color white
		font-size 30px
		margin 10px
		//padding 10px
		border 1px solid white
		border-radius 50%
		width 50px
		height 50px
		display block
		flex(mid)
.header-logo
	z-index 2
	flex(mid)
.header-logo-el
	margin 5px
	
.header-content
	flex(mid)
	fl()
.header-title
	color white
	font-size 10vw
	font-weight 700
	margin-top 3%
.header-info
	color white
	font-size 24px
	font-weight 400
	margin-bottom 2%
.header-icon-row
	flex(mid)
	margin-top 20px
	width 70%
.header-icon-el
	flex(mid)
	fl()
	margin 0px 8%
	width 33.3333%
.header-icon-img
	img
		width 100%
.header-icon-text
	color white
	font-size 24px
	font-weight 700
	margin-top 20px
.header-but
	color white
	font-size 24px
	font-weight 700
	padding 5px 30px
	margin-top 2%
	margin-bottom 5%
	border-radius 20px	
	border 1px solid white
.slider-cont 
	flex(mid)
	fl()
.slider
	position relative
	clip-path: url(#places_path);
	top -8vw
	width 100%
	.owl-dot
		width 20px
		height 20px
		border 2px solid white
		border-radius 50%
		margin 0 5px
	.owl-dots
		position absolute
		top 75%	
		left 50%
		margin-left -40px
		flex(mid)
		.active
			background white
.slider-el
	-webkit-clip-path: url(#places_path);
	min-height 50vw
	color #FFF
	background-size cover
	flex(mid)
.slider-one
	bgi('slider-item-1.jpg');
.slider-two
	bgi('slider-item-2.jpg');
.slider-three
	bgi('slider-item-1.jpg');
.owl-next,
.owl-prev
	position absolute
	top 50%
	margin-top -70px
	.fa
		font-size 140px
		opacity .6
		color white
	
.owl-carousel
	position relative
.owl-prev
	left 5%
.owl-next
	right 5%
	
.slider-title
	font-size 4vw
.slider-text
	width 60%
	text-align center
	margin-top 20px
	
//.compare-block
.compare-block-head
	bgi('treagle-bg-2.jpg')
	-webkit-clip-path url(#fly_path)
	clip-path url(#fly_path)
	width 83vw
	margin 0 auto
	padding 7.6vw 0 1.6vw 0
	background-size cover
	background-position center
	position relative
	margin-top -18vw
	text-align center
	z-index 2
	-webkit-transform translateZ(0)
	transform translateZ(0)
.compare-block-title
	font-size: 3.75vw;
	line-height: 4vw;
	text-align center
	color white
	text-transform uppercase
.compare-block-text
	margin-top: 0.5vw;
	font-size: 1.45vw;
	text-align center
	color white
	margin-bottom 15vw
.compare-block-content
	width 83vw
	margin 0 auto
	padding 3.6vw 0 3.6vw 0
	background white
.compare-block-content-title
	font-size: 3.75vw;
	line-height: 4vw;
	text-transform uppercase
	text-align center
.compare-block-content-text
	margin-top: 0.5vw;
	font-size: 1.45vw;
	text-align center
.compare-block-content-wraper
	margin 0 auto
	margin-top: 2.5vw;
	width 80%
	flex(between)
	align-items flex-start
//.compare-block-content-el
.compare-block-content-el-img
	margin-bottom 20px
	img
		width 100%
		margin 0 auto
.compare-block-content-el-title
	font-size: 2.4vw;
	line-height: 2.4vw;
	text-transform uppercase
	text-align center
.compare-block-content-el-text
	font-size: 1.15vw;
	text-align center
.compare-block-content-el-but
	margin-top: 2vw;
	padding: 2px 1.65vw;
	box-sizing: border-box;
	line-height: 2.6vw;
	border-radius: 2vw;
	border-bottom-width: 0.3vw;
	background-color: #525252;
	font-size: 1.9vw;
	color white
	box-shadow 0px 4px 0px #323232
	display inline-block
.compare-block-content-el-active
	.compare-block-content-el-but
		background-color: #25d29f;
		box-shadow 0px 4px 0px #07a979
		
.compare-block-content-el-wraper
	width 100%
	height 100%
	height 140%
	width 100%
	background: rgba(7, 169, 121, 0.14);
	left 0
	padding 40px 0
	margin-top -40px
		
.compare-block-content-el-addtext
	font-size: 1vw;
	color #34b970
	text-align center
	margin-top 1vw
.compare-block-content-el-green
	font-size: 1vw;
	text-align center

.treangle-head
	margin-top: 50px;
	padding-top: 10vw;
	-webkit-clip-path: url(#attractions_path);
	clip-path: url(#attractions_path);
	background white
.treangle-head-title
	font-weight: bold;
	font-size: 3.8vw;
	text-align center
.treangle-head-text
	font-size: 1.5vw;
	padding-bottom: 5vw;
	text-align center
	
.travel
	width 100%
	fl()
	flex(mid)
.travel-wraper
	flex(mid)
	//margin-bottom: 16vw;
	padding-top: 3vw;
	bgi('travel-bg-1.png')
	width 100%
	background-color: #ffffff;
	background-size: cover;
	padding-bottom 6vw
.travel-main-cont
	width: 68vw;
.travel-head
	f()
	align-items flex-start
	width 100%
.travel-head-img
	width 50%
	img
		width 100%
.travel-head-info
	width 40%
	margin-left 2%
.travel-head-wraper-cont
	padding-bottom 2vw
	margin-bottom 2vw
	border-bottom 2px solid white
.travel-head-title
	font-size 2vw
	color white
	margin-bottom 2vw
//.travel-head-wraper
.travel-head-el
	flex(mid)
	justify-content flex-start
	margin-bottom 20px
.travel-head-el-icon
	margin-right 20px
.travel-head-el-text
	color white
	font-size 1vw
.travel-head-button
	padding 10px 20px
	color white
	font-size 1vw
	border 2px solid white
	border-radius 20px
.travel-cont
	margin-top 5vw
.travel-cont-wraper
	flex(between)
	align-items flex-end
.travel-cont-el
	margin-top -4vw
.travel-cont-el-title
	position absolute
	top 10px
	width 100%
	flex(mid)
	span 
		display block
		width 80%
		text-align center
		color white
.travel-cont-el-img
	position relative
.travel-cont-el-but
	height 50px
	border-radius: 2vw;
	font-size: 1vw;
	color white
	display block
	text-align center
	background-color: #25d29f;
	box-shadow: 0px 4px 0px #07a979;
	width 90%
	margin 0 auto
	margin-top -20px
	z-index 200
	position relative
	flex(mid)
.travel-cont-el-but-active
	background #00B0DC
	box-shadow: 0px 4px 0px #2591AC;
	flex(mid)
	fl()
.travel-main-el-wraper
	background white
	width 100%
	padding-bottom 3vw
.travel-main-el-footer
	width: 68vw;
	margin 0 auto

.travel-cont-el-about
	color white
	margin-bottom 20px
	text-align center