-
	pages = [
	
		{
			'name':'Главная',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	]
	
	curort = [
			{
				"title":"Город Давида",
				"StepOne":"Как хорошо в израиле",
				"StepTwo":"Тут тепло",
				"StepThree":"Тут море",
				"cardTwo":"Первое место",
				"cardThree":"Второе место",
				"cardFore":"Третье место",
				"butTwo":"Первое место",
				"butThree":"Второе место",
				"butFore":"Третье место",
			
		},
		{
				"title":"Город Давида",
				"StepOne":"Как хорошо в израиле",
				"StepTwo":"Тут тепло",
				"StepThree":"Тут море",
				"cardTwo":"Первое место",
				"cardThree":"Второе место",
				"cardFore":"Третье место",
				"butTwo":"Первое место",
				"butThree":"Второе место",
				"butFore":"Третье место",
		}
	]
