-
	pages = [
	
		{
			'name':'Главная',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	]
	
	curort = [
			{
				"title":"1. ГОРОД ДАВИДА - ИЕРУСАЛИМ ПОДЗЕМНЫЙ",
				"StepOne":"Все еще ведутся раскопки и находят много нового, то есть старого. ",
				"StepTwo":"Многотысячилетняя история города - почти ровесника динозавров.",
				"StepThree":"Подземные тунели для романтических прогулок.",
				"cardTwo":"Горненский моностырь",
				"cardThree":"Русское подворье ",
				"cardFore":"Прокат авто",
				"butTwo":"Узнать про экскурсию",
				"butThree":"Узнать про экскурсию",
				"butFore":"От 24 $",
			
		},
		{
				"title":"2. ИЕРУСАЛИМ ТРЕХ РЕЛИГИЙ",
				"StepOne":"+ 25 к пониманию мировых религий.",
				"StepTwo":"Место контрастов и впечатлений.",
				"StepThree":"Более миллиона записок в год оставляется на стене.",
				"cardTwo":"Русский православный Иерусалим ",
				"cardThree":"Вифлием и православный Иерусалим",
				"cardFore":"Аркадия HOTEL Be-Moshava",
				"butTwo":"Узнать про экскурсию",
				"butThree":"Узнать про экскурсию",
				"butFore":"От 180 $",
		},
		{
				"title":"3. ИЕРУСАЛИМ - ХРИСТИАНСКИЙ ВИФЛИЕМ",
				"StepOne":"Храм Рождества Христова.",
				"StepTwo":"Храм Гроба Господня.",
				"StepThree":"Гевсиманский сад.",
				"cardTwo":"City Center ",
				"cardThree":"Dan Panorama ",
				"cardFore":"360 Suitop",
				"butTwo":"от 5 638 руб",
				"butThree":"от 11 770 руб",
				"butFore":"от 10 149 руб",
		},
		{
				"title":"4. КРАСНЫЙ КАНЬОН ЭЛАЙТ",
				"StepOne":"Рядом бегают олени и даманы.",
				"StepTwo":"Марсианские пейзажи – почувствуй себя Мэттом Деймоном.",
				"StepThree":"Таки бесплатный вход.",
				"cardTwo":"Петра 3-х дневный тур ",
				"cardThree":"Прокат авто",
				"cardFore":"Экскурсия на завод эйладского камня",
				"butTwo":"от 5 638 руб",
				"butThree":"От 24 $",
				"butFore":"Бесплатно",
		},
		{
				"title":"5. ГОРЯЧИЕ ИСТОЧНИКИ ХАМАТ ГАДЕР",
				"StepOne":"Можно посмотреть на живых крокодилов.",
				"StepTwo":"Терапевтический эффект популярен еще со времен римля.",
				"StepThree":"Танцующие бабуины и говорящие попугаи развлекают гостей.",

				"cardTwoTitle":"Парк утопия ",
				"cardTwo":"Тропики в центре Израиля,батанический сад",

				"cardThreeTitle":"Сафари",
				"cardThree":"Зоологический центр в Рамат-Гане",

				"cardForeTitle":"Хамат Гадер ",
				"cardFore":"Термальные бассейны",

				"butTwo":"Узнать больше",
				"butThree":"от 7 189 руб",
				"butFore":"от 7 048 руб",
		},
		{
				"title":"6. ЯФФО, ТЕЛЬ-АВИВ",
				"StepOne":"В двух шагах о центра Тель-Авива",
				"StepTwo":"Древний портовый город с блекджеком и архитектурой. ",
				"StepThree":"Вместо названий улиц встречаются знаки Задиака и картинки животных. ",

				"cardTwoTitle":"Мини Израиль",
				"cardTwo":"Крупнейший в мире парк макетов. ",

				"cardThreeTitle":"Кейсарио Акко",
				"cardThree":"Восхититесь последним рукотворным чудом света. ",
				
				"cardForeTitle":"Хайфа",
				"cardFore":"Бахайский храм и столица Крестоносцев.",

				"butTwo":"Узнать больше",
				"butThree":"Узнать больше",
				"butFore":"Узнать больше",
		},
		{
				"title":"7.РЫНОК ШУК КАРМЕЛЬ ТЕЛЬ-АВИВ",
				"StepOne":"Рядом с рынком выступают музыканты и продаются изделия ручной работы.",
				"StepTwo":"Заблудиться на этом рынке невозможно.",
				"StepThree":"Здесь встречается ценник за 1/3 килограмма.",

				"cardTwo":"Прокат авто",

				"cardThree":"Переезды на Мертвое море, Эйлат и Тверию",
				
				"cardFore":"Музей Хелены Рубинштейн",

				"butTwo":"От 35 $",
				"butThree":"От 45 $",
				"butFore":"Узнать больше",
		},
		{
				"title":"8.МЕРТВОЕ МОРЕ",
				"StepOne":"Вода так выталкивает, что по ней практически можно ходить.",
				"StepTwo":"Лечебную рязь можно забрать с собой домой.",
				"StepThree":"Это единственное в мире место с особым сочетанием целебных достоинств.",

				"cardTwo":"Крепость Массада",

				"cardThree":"СПА-комплекс Ейн-геди",
				
				"cardForeTitle":"Ерехон",
				"cardFore":"Монастыри Иудейской пустыни ",

				"butTwo":"от 9358 рублей",
				"butThree":"Узнать больше",
				"butFore":"Узнать больше",
		},
	]
